<a href="https://www.flaticon.com/free-icons/sad" title="sad icons">Sad icons created by justicon - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/warning" title="warning icons">Warning icons created by amonrat rungreangfangsai - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/sort" title="sort icons">Sort icons created by Dave Gandy - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Gregor Cresnar Premium - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/data-analytics" title="data analytics icons">Data analytics icons created by xnimrodx - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/add-to-cart" title="add to cart icons">Add to cart icons created by Pixel perfect - Flaticon</a>