{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% load static %}




	{% block content%}

	<div class="container">
		<div class="row mt-4">
			<div class="col"></div>
			<div class="col">
				<div class="card" style="width: 30rem;">
				  <div class="card-body">
				    <h2 class="card-title text-center bg-success p-1">Specialist Preferences</h2>

					<form method="POST">
						{% csrf_token %}
						{{ set_specialist_preferences|crispy }}
						<button class="btn btn-success" type="submit" id="specialist-preferences-button" name="specialist-preferences-submit">Submit</button>
					</form>

				  </div>
				</div>
			</div>
			<div class="col"></div>
		</div>

		
	</div>


	{% endblock content %}